@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to our travel blog</h2>
<p>@Html.ActionLink("Location", "../Locations")</p>
<p>@Html.ActionLink("People", "../People")</p>
<p>@Html.ActionLink("Experience", "../Experiences")</p>
