
@{
    ViewData["Title"] = "Travel Blog: Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TravelBlog.Models.Location
<h2>Details</h2>
<hr />
Place Name: @Model.PlaceName
<h4>Experiences</h4>
@Model.Experiences.Count
<p>@Html.ActionLink("Back to list", "Index")</p>