@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Person>

<h2>List of Persons Encountered</h2>
<ul>
    @foreach (var person in Model)
    {

        <li>@Html.DisplayFor(model => person.Name)| @Html.ActionLink("Edit", "Edit", new { id = person.PersonId })| @Html.ActionLink("Delete", "Delete", new { id = person.PersonId }) </li>

    }
</ul>
<p>@Html.ActionLink("Add a person", "Create")</p>
